body,
html {
  height: 100%;
}

.bg {
  background: #fff;
  background-image: url("photo-1522441815192-d9f04eb0615c.avif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
